/* Ajoutez ces règles CSS dans votre fichier CSS ou style.scss */

.custom-card {
  width: 400px; /* Ajustez la largeur selon vos besoins */
  margin: 120px auto; /* Centre la card horizontalement et ajoute une marge autour */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

